@import '../variables';

/**
 * Generic
 *
 * Style for generic HTML elements with low-spec.
 *
 *============================================================================*/

/* HTML
 *============================================================================*/

html {
  font-size: 16px;
  font-family: $font-primary;
  line-height: 1.375;
  color: $fg-secondary;

  @media (max-width: $screen-xs) {
    font-size: 15px;
  }
}

body {
  background: url('assets/images/texture.jpg') fixed;
}

/* Headings
 *============================================================================*/

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-weight: 400;
  color: $fg-primary;
}

h1 {
  font-size: 28px;

  @media (max-width: $screen-xs) {
    font-size: 20px;
  }
}
h2 {
  font-size: 20px;

  @media (max-width: $screen-xs) {
    font-size: 18px;
  }
}
h3 {
  font-size: 16px;
}

// Unused
h4 {
  font-size: 16px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 16px;
}

/* Blockquote
 *============================================================================*/

blockquote {
  border-left: 4px solid var(--primary);
  padding: 10px;
}
