@import '../variables';

/**
 * Resets
 *
 * Style resets in order to synchronize different browser default styles.
 *
 *============================================================================*/

/* Basic page behaviour resets
 *============================================================================*/
/**
 * 1. Best practice box-sizing. Source:
 *    css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 * 2. Force long words to break into new lines if they don't fit a container.
 */

*,
*:before,
*:after {
  box-sizing: inherit; /* [1] */
}

html {
  box-sizing: border-box; /* [1] */
  word-wrap: break-word; /* [2] */
  overflow-wrap: break-word; /* [2] */
}

body {
  overflow-x: hidden;
}

/* Margin resets
 *============================================================================*/

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
figure,
hr,
fieldset,
legend {
  margin: 0;
}

// Remove trailing margins from nested lists
li > ol,
ul {
  margin-bottom: 0;
}

/* Table
 *============================================================================*/

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Semantic markup
 *============================================================================*/

b,
strong {
  font-weight: 700;
}

i,
em {
  font-style: italic;
}

u {
  text-decoration: underline;
}

/* Unset hyperlink style
 *============================================================================*/

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

/* Images
 *============================================================================*/
/**
 * 1. Images will retain their aspect ratio on screen resizing. They
      will never scale up to be larger than their original size.
 * 2. Remove whitespace under images.
 */

img {
  max-width: 100%; /* [1] */
  height: auto; /* [1] */
  vertical-align: middle; /* [2] */
}

/* mat-form-field bottom padding
 *============================================================================*/
/**
 * Removes the default padding on mat-form-field-wrapper that exists to create
 * space for hints. Since hints are rarely used, the bottom padding was removed
 * for easier layout building.
 */

.mat-form-field > .mat-form-field-wrapper {
  padding-bottom: 0;
}
.mat-form-field > .mat-form-field-wrapper > .mat-form-field-underline {
  bottom: 0;
}

// 'mat-hint' class for mat-form-field in case a hint/error has to be used
.mat-hint.mat-form-field > .mat-form-field-wrapper {
  padding-bottom: 1.25em;
}
.mat-hint.mat-form-field > .mat-form-field-wrapper > .mat-form-field-underline {
  bottom: 1.25em;
}

/* mat-button default font override
 *============================================================================*/

.mat-button,
.mat-flat-button,
.mat-raised-button,
.mat-icon-button {
  font-family: $font-primary;
}

/* mat-form-field default font override
 *============================================================================*/

.mat-form-field {
  font-family: $font-secondary;
  font-size: 13px;
}

/* mat-list-item default font override
 *============================================================================*/

.mat-list-item {
  font-family: $font-secondary;
}

/* mat-input-element text clipping correction
 *============================================================================*/

.mat-form-field-infix .mat-input-element {
  line-height: 1.5;
}

/* jaspero slider image aspect ratio
 *============================================================================*/

.jp-s-w-i > div {
  margin: 0;
  position: relative;
  padding-bottom: 30vw;

  @media (max-width: $screen-l) {
    padding-bottom: 37.5vw;
  }
  @media (max-width: $screen-m) {
    padding-bottom: 45vw;
  }
  @media (max-width: $screen-s) {
    padding-bottom: 75vw;
  }

  & > .slider-img {
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    object-fit: cover;
  }
}

/* mat-menu font override
 *============================================================================*/

.mat-menu-item {
  font-family: $font-primary;
}

/* cdk-overlay fix (% doesn't work, vh does)
 *============================================================================*/

.cdk-overlay-pane {
  max-height: 100vh;
}
