@import '../../../scss/variables';

.grid-small {
  max-width: 960px;
}

.grid-shop {
  max-width: 960px;

  & > [class*='col']:nth-child(2n) {
    transform: translateY(50%);

    @media (max-width: $screen-xs) {
      transform: translateY(0);
    }
  }

  & > [class*='col']:nth-last-child(1):nth-child(2n) {
    margin-bottom: 40%;

    @media (max-width: $screen-xs) {
      margin-bottom: 0;
    }
  }
}

.product-img {
  margin-bottom: 40px;

  @media (max-width: $screen-xs) {
    margin-bottom: 0;
  }
}

.product-add-cart {
  width: 100%;
  font-size: 18px;
  padding: 15px 0;
  border-radius: 0;
  font-weight: normal;
  height: auto;

  @media (max-width: $screen-xs) {
    font-size: 16px;
    padding: 10px 0;
  }
}

.sticky-cart {
  position: sticky;
  top: 90px;
}

@media (max-width: $screen-xs) {
  .product-mobile-gallery {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;

    .aspect-ratio {
      padding-left: calc(100vw - 40px);
      margin-right: 20px;
      scroll-snap-align: start;
      scroll-snap-stop: normal;
    }
  }
}

.product-description::ng-deep span {
  font-family: $font-secondary !important;
  background-color: transparent !important;
}

.product-description::ng-deep p {
  margin-bottom: 0.75em;
  background-color: transparent !important;
}

.product-description > * {
  margin-bottom: 0.75em;
}
