<ng-container *ngIf="data$ | async as data">

  <!--Product-->
  <section class="p-t-l">

    <div class="ta-center starting-line">
      <h1 class="title">{{data.product.name}}</h1> <!--TODO: add product.short-->
    </div>

    <div class="grid grid-small connecting-line">
      <div class="col-6 col-xs-12">
        <p class="ff-secondary ta-center p-a-xs bg-primary m-b-xs" *ngIf="data.product.preOrder"><b>Pre-orders available!</b></p>
        <div class="product-mobile-gallery">
          <div class="aspect-ratio product-img" data-ratio="2:3" *ngFor="let img of data.product.gallery">
            <img class="aspect-item" [jfsLibraryImage]="img" aria-hidden="true">
          </div>
        </div>
      </div>

      <div class="col-6 col-xs-12">
        <section class="sticky-cart p-y-xs">
          <div class="flex jc-between ai-center m-b-xs">
            <div>
              <h2 class="m-b-xs">{{data.product.name}}</h2>
              <h2>{{data.product.price | sp}}</h2>
            </div>

            <div>
              <a
                mat-icon-button
                [href]="data.product.instgramLink"
                target="_blank"
                rel="noopener"
                matTooltip="View on Instagram"
                aria-label="View on Instagram"
              >
                <img src="assets/images/ig.svg" alt="View on Instagram" width="20">
              </a>&nbsp;
              <button
                id="btn-wish-list-1"
                class="jfs-wishlist-button"
                mat-icon-button
                [matTooltip]="data.wishList.label"
                [attr.aria-label]="data.wishList.label"
                (click)="wishList.toggle(data.product)">
                <mat-icon>{{data.wishList.icon}}</mat-icon>
              </button>
            </div>
          </div>

          <ng-container *ngIf="rews$ | async as rec;">
            <div class="ws-nowrap flex ai-center" *ngIf="rec[0].length">
              <jfs-rating-scale [value]="rec[1]" color="default"></jfs-rating-scale>
              <p class="m-l-xs"><a class="link" (click)="openReviews()">{{rec[0].length}} reviews</a></p>
            </div>

            <ng-template #reviewsDialog>
              <h6 mat-dialog-title="">Reviews</h6>
              <ng-container *ngIf="rec[0].length;">
                <div *ngFor="let review of rec[0]">
                  <mat-divider></mat-divider>
                  <jfs-review-card [review]="review"></jfs-review-card>
                </div>
              </ng-container>
            </ng-template>
          </ng-container>

          <div>
            <ng-container>
              <mat-form-field class="w-full" appearance="outline">
                <mat-label>Size</mat-label>
                <mat-select>
                  <mat-option value="datSize" *ngFor="let datSize of data.product.size ">
                    {{datSize}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </ng-container>
          </div>

          <div class="p-b-s">
            <ng-container *ngIf="data.quantity; else notInCart">
              <button
                [disabled]="data.quantity === data.product.quantity"
                id="btn-add-more-prod-0"
                class="w-full"
                mat-flat-button
                color="accent"
                (click)="cart.add(data.product)">
                <span class="iblock p-x-s">Add more to cart (currently {{data.quantity}})</span>
              </button>
            </ng-container>
            <ng-template #notInCart>
              <button
                id="btn-add-cart-prod-1"
                class="w-full"
                mat-flat-button
                color="accent"
                (click)="cart.add(data.product)">
                <span class="iblock p-x-m">Add to cart</span>
              </button>
            </ng-template>
          </div>
          <h2 class="m-b-xs">Product Details</h2>
          <div class="product-description ff-secondary">
            <div [innerHTML]="data.product.description | jpSanitize"></div>
            <ul>
            <!--<li><b>Size</b>: s</li>-->
              <li><b>Fabric</b>: {{data.product.fabric}}</li>
              <li>{{data.product.made}}</li>
            </ul>
          </div>
          <div class="m-y-m flex fd-col ai-start">
            <h2 class="m-b-xs">Share this product:</h2>
            <button mat-button (click)="facebookShare(data)">Share on Facebook</button>
            <button mat-button (click)="twitterShare(data)">Share on Twitter</button>
            <button mat-button (click)="emailShare(data)">Share via email</button>
          </div>
        </section>
      </div>

    </div>

  </section>

  <!--Similar products-->
  <section class="p-b-l">
    <div class="ta-center starting-line line-top-margin">
      <h1 class="title">Related</h1>
    </div>
    <div class="grid grid-shop jc-start connecting-line ending-line" *ngIf="similar$ | async as similarProducts">
      <div class="col-6 col-xs-12" *ngFor="let next of similarProducts">
        <jfs-product-card
          [product]="next">
        </jfs-product-card>
      </div>
    </div>
  </section>

</ng-container>
