<form *ngIf="form" [formGroup]="form">

  <section>
    <mat-toolbar color="primary">
      <a mat-icon-button routerLink="/landing-page" aria-label="Back" matTooltip="Back">
        <mat-icon>arrow_back</mat-icon>
      </a>
      <span>Landing pages</span>
    </mat-toolbar>
  </section>

  <section class="p-y-m">
    <div class="grid">
      <div class="col-8 col-s-10 col-xs-12">
        <h5>{{isEdit ? form.get('title').value : 'New landing page'}}</h5>
      </div>
    </div>
  </section>

  <div class="grid grid-no-gutter p-b-l">
    <div class="col-8 col-s-10 col-xs-12">
      <div>
        <div class="grid fw-rev">
          <div class="col-8 col-s-12">
            <mat-card>
              <h6 class="p-y-xs">Featured image</h6>
              <div class="p-y-xs">
                <mat-divider></mat-divider>
              </div>
              <jfsc-image-upload formControlName="featuredImage"></jfsc-image-upload>
            </mat-card>
            <br>
            <mat-card>
              <h6 class="p-y-xs">Gallery</h6>
              <div class="p-y-xs">
                <mat-divider></mat-divider>
              </div>
              <div class="p-y-xs">
                <jfsc-gallery-upload formControlName="gallery"></jfsc-gallery-upload>
              </div>
            </mat-card>
          </div>
          <div class="col-4 col-s-12">
            <mat-card>
              <h6 class="p-y-xs">Page info</h6>
              <div class="p-y-xs">
                <mat-divider></mat-divider>
              </div>
              <mat-form-field class="w-full" appearance="outline">
                <mat-label>Title</mat-label>
                <input matInput formControlName="title">
              </mat-form-field>
              <mat-form-field class="w-full" appearance="outline">
                <mat-label>Category</mat-label>
                <mat-select formControlName="category">
                  <mat-option *ngFor="let category of categories$ | async" [value]="category.id">
                    {{category.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="jfsc-actions-header">
    <button
      mat-flat-button
      color="primary"
      (click)="back()">
      {{isEdit ? 'Discard changes' : 'Cancel'}}
    </button> &nbsp;

    <button
      mat-flat-button
      type="submit"
      [disabled]="form.invalid"
      [jpLoadClick]="save()">
      {{isEdit ? 'Save changes' : 'Save'}}
    </button>
  </div>

</form>
