<div class="jfs-shop-viewport">

    <div class="ta-center">
      <h1 class="title starting-line">Collections</h1>
    </div>

    <div class="grid grid-shop jc-start connecting-line ending-line">
      <div class="col-4 col-s-6" *ngFor="let collection of collections$ | async">
        <div (click)="goToSingle(collection.name)">
          <div class="flex fw-nowrap jc-between p-a-xs jfs-product-card-description" (click)="goToSingle(collection.name)">
            <label class="p-r-s">{{collection.name}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
