<section class="p-y-l">
  <div class="ta-center">
    <h1 class="title starting-line">Success</h1>
  </div>

  <div class="grid connecting-line ending-line">
    <div class="col-6 col-m-8 col-s-10 col-xs-12 ta-center">
      <h5>Purchase successful!</h5>
      <h6 class="m-y-xs">Your purchase:</h6>
      <table class="w-full ta-left">
        <tr *ngFor="let product of result.orderItems">
          <td class="w-half p-a-xs">{{product.name}}:</td>
          <td class="w-half p-a-xs">{{product.price | sp }} x{{product.quantity}}</td>
        </tr>
        <tr>
          <td class="w-half p-a-xs">Subtotal:</td>
          <td class="w-half p-a-xs">{{result.price.subTotal | sp}}</td>
        </tr>
        <tr>
          <td colspan="2"><hr></td>
        </tr>
        <tr>
          <td class="w-half p-a-xs">Shipping:</td>
          <td class="w-half p-a-xs">{{result.price.shipping ? (result.price.shipping | sp) : 'Free'}}</td>
        </tr>
        <tr>
          <td colspan="2"><hr></td>
        </tr>
        <tr class="fw-bold">
          <td class="w-half p-a-xs">Total:</td>
          <td class="w-half p-a-xs">{{result.price.total | sp}}</td>
        </tr>
      </table>
      <div class="p-y-xs">
        <mat-divider></mat-divider>
      </div>
      <table class="w-full ta-left">
        <tr>
          <td class="w-half p-a-xs">Checkout:</td>
          <td class="w-half p-a-xs">{{result.billing.firstName}} {{result.billing.lastName}}</td>
        </tr>
        <tr>
          <td class="w-half p-a-xs">Billing email:</td>
          <td class="w-half p-a-xs">{{result.billing.email}}</td>
        </tr>
        <tr>
          <td class="w-half p-a-xs">Shipping email:</td>
          <td class="w-half p-a-xs">{{result.shipping ? result.shipping : result.billing.email}}</td>
        </tr>
      </table>
      <div class="p-y-xs">
        <mat-divider></mat-divider>
      </div>
      <p class="m-y-xs">You will receive an email at john.doe@gmail.com with your order summary and a receipt.</p>
      <a routerLink="" mat-flat-button color="primary">Back to home</a>
    </div>
  </div>
</section>
