<ngx-json-ld [json]="state.structuredData"></ngx-json-ld>
<ng-container *ngIf="showLayout$ | async">
  <!--Header-->
  <header class="app-header">

    <nav class="hide-s">
      <a mat-button routerLink="/">Home</a>
      <a mat-button [routerLink]="['/one-horn']">One Horn</a>
      <a mat-button routerLink="/about">About</a>
      <a mat-button [routerLink]="['/news']">News</a>
      <a mat-button [routerLink]="['/shop']">Shop</a>
      <a mat-button [routerLink]="['/contact']">Contact</a>
    </nav>

    <a routerLink="/">
      <img class="app-header-logo" src="assets/images/logo.svg" alt="Sanghamitra" width="60" height="60">
    </a>

    <div class="flex ai-center">

      <jfs-currency-rates></jfs-currency-rates>

      <div class="hide-s">
        <ng-container *ngIf="state.user$ | async as user; else anonymous">
          <button mat-button [matMenuTriggerFor]="shopCategories">
            {{user.customerData?.name || user.authData.displayName || user.authData.email}}
          </button>
          <mat-menu #shopCategories="matMenu">
            <a mat-menu-item routerLink="/my-profile/settings">Settings</a>
            <a mat-menu-item routerLink="/my-profile/wish-list">Wish List</a>
            <a mat-menu-item routerLink="/my-profile/orders">Orders</a>
            <a mat-menu-item routerLink="/my-profile/reviews">Reviews</a>
            <hr>
            <button mat-menu-item (click)="logOut()">Sign out</button>
          </mat-menu>
        </ng-container>
        <ng-template #anonymous>

          <button mat-button (click)="logIn()" id="nav-login">Login</button>
        </ng-template>
      </div>

      <!--Cart button-->
      <button
        id="btn-open-chck"
        mat-button
        matTooltip="Cart"
        aria-label="Your cart"
        (click)="openCheckout()">
        Cart
        <ng-container *ngIf="cartBadge$ | async as numOfItems;">
          ({{numOfItems}})
        </ng-container>
      </button>

      <button aria-label="Menu" class="app-header-menu" (click)="openMobileHeader()"
              [class.active]="toggleMobileHeader">
        <span></span>
      </button>
    </div>

    <nav class="app-header-mobile" [class.active]="toggleMobileHeader">
      <div class="flex f2">
        <a class="mobile-row-first link-home" (click)="openMobileHeader()" routerLink="/"><span>Home</span></a>
        <a class="mobile-row-first link-about" (click)="openMobileHeader()" routerLink="/about"><span>About</span></a>
        <a class="mobile-row-first link-contact" (click)="openMobileHeader()" routerLink="/contact"><span>Contact</span></a>
        <a class="mobile-row-first link-news" (click)="openMobileHeader()" routerLink="/news"><span>News</span></a>
        <a class="mobile-row-first link-shop" (click)="openMobileHeader()" routerLink="/shop"><span>Shop</span></a>
        <a class="mobile-row-first link-horn" (click)="openMobileHeader()" routerLink="/one-horn"><span>One Horn</span></a>
      </div>

      <img class="mobile-row-logo f1" src="/assets/images/logo-full.svg" alt="Sanghamitra"
           (click)="openMobileHeader()"
           routerLink="/">

      <ng-container *ngIf="state.user$ | async as user; else anonymousMobile">
        <p class="app-header-mobile-username">{{user.authData.email}}</p>
        <div class="flex f2">
          <a class="mobile-row-second" (click)="openMobileHeader()" routerLink="/my-profile/settings">Settings</a>
          <a class="mobile-row-second" (click)="openMobileHeader()" routerLink="/my-profile/wish-list">Wish List</a>
          <a class="mobile-row-second" (click)="openMobileHeader()" routerLink="/my-profile/orders">Orders</a>
          <a class="mobile-row-second" (click)="openMobileHeader()" routerLink="/my-profile/reviews">Reviews</a>
        </div>
        <div class="app-header-mobile-signout flex ai-center jc-end">
          <button mat-button (click)="logOut()">Sign out</button>
        </div>
      </ng-container>

      <ng-template #anonymousMobile>
        <a class="mobile-row-login link-login f2" (click)="logIn()"><span>Login</span></a>
      </ng-template>
    </nav>
  </header>
</ng-container>

<!--Main content-->
<main class="jfs-app-main">
  <router-outlet></router-outlet>
</main>

<ng-container *ngIf="showLayout$ | async">
  <footer class="bg-primary ta-center">
    <div class="p-b-s p-t-l">
      <a routerLink="/"><img src="assets/images/logo.svg" alt="Sanghamitra" width="60" height="60"></a>
    </div>

    <div class="grid">
      <form class="col-12">
        <h2>Sanghamitra Membership Sign Up</h2>
        <br>
        <mat-form-field class="newsletter">
          <input type="email" id="sing-up" matInput placeholder="Email" [formControl]="email" #mailEl>
          <ng-container matSuffix>
            <mat-spinner *ngIf="loading$ | async; else loaded;" [diameter]="24"></mat-spinner>
            <ng-template #loaded>
              <button type="submit" [disabled]="email.invalid" mat-icon-button (click)="submitEmail()"
                      aria-label="Submit">
                <mat-icon>arrow_forward</mat-icon>
              </button>
            </ng-template>
          </ng-container>
          <mat-error *ngIf="email.invalid">Please enter a valid email</mat-error>
        </mat-form-field>
      </form>
    </div>

    <div class="grid m-t-s">
      <div class="col-3 col-s-12">
        <h2 class="m-t-xs m-b-s">Contact</h2>
        <p class="m-y-xs"><a routerLink="/contact" class="link ws-nowrap">Contact page</a></p>
        <p class="m-y-xs"><a routerLink="/about" class="link ws-nowrap">About us</a></p>
      </div>

      <div class="col-3 col-s-12">
        <h2 class="m-t-xs m-b-s">Legal</h2>
        <p class="m-y-xs"><a class="link ws-nowrap" (click)="legalDialog('shippingReturns')" id="shipping">Shipping &
          returns</a></p>
        <p class="m-y-xs"><a class="link ws-nowrap" (click)="legalDialog('termsService')" id="terms">Terms of
          service</a></p>
        <p class="m-y-xs"><a class="link ws-nowrap" (click)="legalDialog('privacy')" id="privacy">Privacy policy</a></p>
        <p class="m-y-xs"><a class="link ws-nowrap" (click)="legalDialog('cookies')" id="cookies">Cookies policy</a></p>
      </div>

      <div class="col-3 col-s-12">
        <h2 class="m-t-xs m-b-s">Follow us</h2>
        <p class="m-y-xs"><a class="link ws-nowrap social-instagram" target="_blank" rel="noopener"
                             href="https://www.instagram.com/sanghamitraphukan/">Instagram</a></p>
        <p class="m-y-xs"><a class="link ws-nowrap social-facebook" target="_blank" rel="noopener"
                             href="https://www.facebook.com/sanghamitrabijuphukan/">Facebook</a></p>
      </div>

      <div class="col-12">
        <p class="p-t-m">© {{year}} Sanghamitra Phukan — By <a class="link" target="_blank" rel="noopener"
                                                               href="https://jaspero.co">Jaspero</a></p>
      </div>
    </div>
  </footer>
</ng-container>

<jfs-cookie>
  <p class="ff-secondary ta-center fs-small">To help personalize content and provide a safer experience, we use cookies.
    By clicking or navigating the site, you agree to our <a class="link" (click)="legalDialog('cookies')"><u>Cookies
      Policy</u></a>.</p>
</jfs-cookie>

<!--Loading-->
<div class="jfs-shop-loading" *ngIf="state.loading$ | async">
  <mat-progress-bar mode="query"></mat-progress-bar>
</div>

<ng-template #dialogLegal>
  <article class="policy">
    <button class="policy-close" mat-dialog-close mat-icon-button aria-label="Close this dialog">
      <mat-icon>cancel</mat-icon>
    </button>
    <main [innerHTML]="dialogContent"></main>
  </article>
</ng-template>
