<section>

  <mat-toolbar color="primary">
    <span>Dashboard</span>
  </mat-toolbar>

  <div class="grid p-y-m">
    <div class="col-8 col-s-12">
      <mat-card class="h-full">
        <h6>Useful dashboard links</h6>
        <div class="p-y-s">
          <mat-divider></mat-divider>
        </div>
        <mat-nav-list>
          <mat-list-item routerLink="/categories">
            <mat-icon mat-list-icon>label</mat-icon>
            <a mat-line>Create a category</a>
            <p mat-line><span class="ff-secondary">This let's you place products in categories.</span></p>
          </mat-list-item>
          <mat-list-item routerLink="/products">
            <mat-icon mat-list-icon>shopping_basket</mat-icon>
            <a mat-line>Create a product</a>
            <p mat-line><span class="ff-secondary">Create a product that you will sell!</span></p>
          </mat-list-item>
          <mat-list-item routerLink="/discounts">
            <mat-icon mat-list-icon>loyalty</mat-icon>
            <a mat-line>Create discounts</a>
            <p mat-line><span class="ff-secondary">Create discounts for product, or give away discount codes.</span></p>
          </mat-list-item>
        </mat-nav-list>
      </mat-card>
    </div>
    <div class="col-4 col-s-12">
      <mat-card class="h-full">
        <h6>Useful external links</h6>
        <div class="p-y-s">
          <mat-divider></mat-divider>
        </div>
        <mat-nav-list>
          <mat-list-item>
            <mat-icon>launch</mat-icon>
            <a href="https://stripe.com/" target="_blank" rel="nofollow" mat-line>Stripe</a>
          </mat-list-item>
          <mat-list-item>
            <mat-icon>launch</mat-icon>
            <a href="https://mailchimp.com/" target="_blank" rel="nofollow" mat-line>Mailchimp</a>
          </mat-list-item>
          <mat-list-item>
            <mat-icon>launch</mat-icon>
            <a href="" target="_blank" rel="nofollow" mat-line>Sanghamitra shop</a>
          </mat-list-item>
        </mat-nav-list>
      </mat-card>
    </div>
  </div>

</section>
