.dialog-or {
  position: relative;
  text-align: center;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 1px;
    width: calc(50% - 24px);
    background: #ddd;
  }

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    height: 1px;
    width: calc(50% - 24px);
    background: #ddd;
  }
}
