<section class="p-y-l">
  <div class="ta-center">
    <h1 class="title starting-line">Error</h1>
  </div>

  <div class="grid connecting-line">
    <div class="col-6 col-m-8 col-s-10 col-xs-12 ta-center">
      <p>An error has occurred</p>
      <ng-container *ngIf="error">
        <p class="m-y-s" *ngFor="let single of error">
          {{single.message}}
        </p>
      </ng-container>
    </div>
  </div>

  <div class="grid connecting-line ending-line jc-center ta-center">
    <div class="col-6 ta-right" *ngIf="error">
      <button mat-flat-button color="primary" (click)="resolveIssue()">Resolve issues</button>

    </div>
    <div class="col-6">
      <button mat-flat-button color="primary" (click)="clearCart()">Clear cart</button>
    </div>
  </div>
</section>
