<section class="p-y-l">

  <div class="ta-center">
    <h1 class="title starting-line">Wish list</h1>
  </div>

  <div class="grid grid-wishlist jc-start ff-secondary connecting-line ending-line">

    <ng-container *ngIf="state$ | async as st;">
      <ng-container [ngSwitch]="st.state">

        <ng-container *ngSwitchCase="dataState.Loading">
          <div class="flex jc-center w-full p-y-m">
            <mat-spinner [diameter]="40"></mat-spinner>
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="dataState.Loaded">
          <div class="col-6 col-m-8 col-s-10 col-xs-12">
            <div *ngFor="let item of st.data">
              <jfs-product-card [product]="item"></jfs-product-card>
            </div>
          </div>
        </ng-container>

        <ng-container *ngSwitchCase="dataState.Empty">
          <div class="col-6 col-m-8 col-s-10 col-xs-12 ta-center">
            <p>No items on your wish list.<br>You can add items by clicking the <mat-icon>favorite_outline</mat-icon> icon on a product.<br>You will receive email notifications when items on your wish list are on sale.</p>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>

  </div>

</section>
