<section class="p-y-l">

  <div class="ta-center">
    <h1 class="title starting-line">Page not found</h1>
  </div>

  <div class="grid ff-secondary connecting-line ending-line">
    <div class="col-6 col-m-8 col-s-10 col-xs-12 ta-center">
      <p>Sorry! This page does not exist.</p>
      <p class="m-b-s">Use one of the following links to get back on track:</p>
      <div class="flex fd-col ai-center">
        <a class="link m-b-xs" routerLink="">Home</a>
        <a class="link m-b-xs" routerLink="/about">About</a>
        <!--<a class="link m-b-xs" routerLink="/shop">Shop</a>-->
      </div>
      <p>
    </div>
  </div>

</section>
