<section class="p-y-l">

  <div class="ta-center">
    <h1 class="title starting-line">Contact us</h1>
  </div>

  <div class="grid ff-secondary connecting-line ta-center">
    <div class="col-6 col-m-8 col-s-10 col-xs-12">
      <p>At Sanghamitra we value your interest and opinion, please contact us directly via the form or email addresses below to share your thoughts and learn more about our endeavour.</p>
    </div>
    <div class="col-7 col-m-8 col-s-10 col-xs-12">
      <p class="c-secondary">General info and communications</p>
      <p class="c-primary"><a class="link" href="mailto:info@sanghamitraphukan.com"><u>info@sanghamitraphukan.com</u></a></p>
    </div>
    <div class="col-7 col-m-8 col-s-10 col-xs-12">
      <p class="c-secondary">Press inquiries</p>
      <p class="c-primary"><a class="link" href="mailto:press@sanghamitraphukan.com"><u>press@sanghamitraphukan.com</u></a></p>
    </div>
    <div class="col-7 col-m-8 col-s-10 col-xs-12">
      <p class="c-secondary">Retail inquiries</p>
      <p class="c-primary"><a class="link" href="mailto:sales@sanghamitraphukan.com"><u>sales@sanghamitraphukan.com</u></a></p>
    </div>
    <div class="col-7 col-m-8 col-s-10 col-xs-12">
      <p class="c-secondary">Bespoke orders</p>
      <p class="c-primary"><a class="link" href="mailto:bespoke@sanghamitraphukan.com"><u>bespoke@sanghamitraphukan.com</u></a></p>
    </div>
  </div>

  <div class="ta-center">
    <h1 class="title line-top-margin starting-line">Send us your thoughts</h1>
  </div>

  <div class="grid connecting-line ta-center">
    <form [formGroup]="form" class="col-4 col-m-5 col-s-6 col-xs-10">
      <mat-form-field class="w-full">
        <input matInput type="text" formControlName="name" placeholder="Name">
      </mat-form-field>
      <mat-form-field class="w-full">
        <input matInput type="text" formControlName="email" placeholder="Email">
      </mat-form-field>
      <mat-form-field class="w-full">
        <textarea matInput formControlName="message" placeholder="Message"></textarea>
      </mat-form-field>
      <button type="reset" [disabled]="form.invalid" (click)="send()" mat-flat-button>Send</button>
    </form>
  </div>

  <div class="grid ff-secondary connecting-line ending-line ta-center">
    <div class="col-6 col-m-8 col-s-10 col-xs-12">
      <img class="m-t-l" src="assets/images/contact.jpg" aria-hidden="true">
    </div>
  </div>
</section>
