@import "../../../../scss/variables";

.single-news {
  position: relative;
  padding-bottom: 40px;

  h1 {
    margin: 0 0 1em;
  }

  h2, h3, h4, h5, h6 {
    margin: 2em 0 1em;
  }

  p {
    margin: 1em 0;
    font-family: $font-secondary;
  }

  ul, ol {
    margin: 1em 0;
    font-family: $font-secondary;
  }

  p + ol,
  p + ul {
    margin-top: -.5em;
  }

  a {
    color: dodgerblue;
    text-decoration: underline;
  }
}

.spaced {
  width: 60%;
}

.link {
  display: inline-block;
  text-decoration: none;

  padding: 15px;
  border: 1px solid rgba(220, 220, 220, .8);
  border-radius: 6px;
}

.link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width .3s;
}

.link:hover::after {
  width: 100%;
}

.popup-close {
  position: absolute;
}
