<style>
    .jfs-mail {
        margin: 0 auto;
        width: 100%;
        max-width: 600px;
        font-family: sans-serif;
        border-collapse: collapse;
        background: #f6f3f0;
    }
    .jfs-mail > thead > tr > th {
        padding: 20px;
        text-align: left;
        background: #212121;
        color: white;
        font-weight: normal;
    }
    .jfs-mail > tbody > tr > td {
        padding: 20px 20px 0;
        vertical-align: top;
        line-height: 1.35;
    }
    hr {
        margin: 0;
        border: none;
        border-top: 2px solid #212121;
    }
    .order-summary {
        background: #ffffff;
    }
    .right {
        text-align: right;
    }
</style>

<table class="jfs-mail">
    <thead>
    <tr>
        <th colspan="2">Sanghamitra - order successful</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td colspan="2">🎉 We've processed your order successfully 🎉</td>
    </tr>
    <tr>
        <td colspan="2">Here's the summary of your order:<br><br></td>
    </tr>
    {{#each order.orderItemsData}}
        <tr class="order-summary">
            <td>{{this.name}} (x{{this.quantity}})</td>
            <td class="right">{{this.price}}</td>
        </tr>
    {{/each}}
    <tr class="order-summary">
        <td>Total<br><br></td>
        <td class="right">{{order.total}}</td>
    </tr>
    <tr>
        <td colspan="2">Please let us know if you have any issues or questions at <a href="mailto:sales@sanghamitraphukan.com">sales@sanghamitraphukan.com</a>.</td>
    </tr>
    <tr><td></td></tr>
    </tbody>
</table>
