<style>
    .jfs-mail {
        margin: 0 auto;
        width: 100%;
        max-width: 600px;
        font-family: sans-serif;
        border-collapse: collapse;
        background: #f6f3f0;
    }
    .jfs-mail > thead > tr > th {
        padding: 20px;
        text-align: left;
        background: #212121;
        color: white;
        font-weight: normal;
    }
    .jfs-mail > tbody > tr > td {
        padding: 20px 20px 0;
        vertical-align: top;
        line-height: 1.35;
    }
</style>

<table class="jfs-mail">
    <thead>
    <tr>
        <th>Sanghamitra - Welcome</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>🎉 Successful registration 🎉</td>
    </tr>
    <tr>
        <td>Thank you for registering at <a href="">Sanghamitra</a>.<br><br></td>
    </tr>
    <tr><td></td></tr>
    </tbody>
</table>