<section class="p-y-l">

  <div class="ta-center">
    <h1 class="title starting-line">Italian passion — Indian tradition</h1>
  </div>

  <div class="grid ff-secondary connecting-line">
    <div class="col-6 col-m-8 col-s-10 col-xs-12">
      <p>SANGHAMITRA is an Indo-Italian sustainable fashion design & lifestyle brand, conceived around the essential concept of bringing together ancient Indian hand weaving and tailoring traditions with contemporary European Fashion aesthetics, maintaining a key focus on quality, craftsmanship and creativity </p>
    </div>
  </div>

  <div class="ta-center">
    <h1 class="title starting-line line-top-margin">History</h1>
  </div>

  <div class="grid ff-secondary connecting-line">
    <div class="col-6 col-m-8 col-s-10 col-xs-12">
      <p>SANGHAMITRA means “Universal Friend”. It is the name of King Ashoka’s daughter, the nomad princess and Buddhist prophet who carried the Buddha’s harmonious message of peace to Sri Lanka. After having unified Hindustan for the first time in history through war and bloodshed, Ashoka is finally enlightened. Driven by the love for his wife, he finds a pathway towards peace by converting to Buddhism. Sanghamitra is therefore the personification of the King’s journey of redemption through the values of peace, friendship and love.</p><br>
      <p>The SANGHAMITRA logo is a stylization of a pre-Christian Irish metalwork, representing a local European interpretation of the Buddhist meditational symbol ‘Yin and Yang’, incorporated in a Celtic ‘Triskelion’. By providing evidence of cultural contamination and Buddhist influence in Europe during those ancient times, this artefact becomes the ideal representation of our values, showing the two symbols merging one in the other, perfectly combined to give shape to a new united and unique image.</p>
    </div>
  </div>

  <div class="ta-center">
    <h1 class="title starting-line line-top-margin">Values</h1>
  </div>

  <div class="grid ff-secondary connecting-line">
    <div class="col-6 col-m-8 col-s-10 col-xs-12">
      <p>Unity, Creativity & Sustainability are the values that drive our work. At SANGHAMITRA we believe bringing cultures together, erasing distances and learning from each other is the only viable path to achieve true progress. We stand for universal friendship, re-valorisation of traditions and social empowerment/ inclusion.</p><br>
      <p>Our creative MISSION is to Simplify and Re-value Sustainably:</p><br>
      <ul>
        <li>To SIMPLIFY complex and intricate traditional edits, so to create essential contemporary design pieces</li><br>
        <li>To RE-VALUE ancient Indian tailoring and weaving traditions, by partnering with our artisans and raising awareness about the craftsmanship, heritage and creativity they infuse in each one of our garments</li><br>
        <li>To produce our collections through an entirely SUSTAINABLE process, giving life to unique handmade garments using exclusively natural fabrics</li><br>
      </ul>
      <p>The use of locally sourced/ indigenous natural fabrics is at the very core of our idea, vision and culture. We focus especially on MUGA, the rarest silk in the world, known as the Fabric of Kings as historically favourite by Indian royalties. While normally used only for formal traditional wear, we re-interpret this precious material, adapting it to creative laid back couture and handcrafted evening wear design pieces.</p>
    </div>
  </div>

  <div class="ta-center">
    <h1 class="title starting-line line-top-margin">Vision</h1>
  </div>

  <div class="grid ff-secondary connecting-line ending-line">
    <div class="col-6 col-m-8 col-s-10 col-xs-12">
      <p>SANGHAMITRA envisions a sustainable global fashion industry, leading the world to a more efficient/ circular use of resources. We strive to promote the necessary cultural shift from short termism to long-term value and quality maximisation, combined with positive contextual impact.</p><br>
      <p>We therefore decided to go back to our roots and made use of rare indigenous Muga, Paat and Eri Silks to create our hand made garments. We collaborate with local artisans using ancient weaving techniques, while colours are rigorously extracted from vegetable dyes. The production of our silks is entirely sustainable and cruelty free.</p><br>
      <p>At SANGHAMITRA we promote the values of diversity/ inclusion and women empowerment. We strive to contribute generating sustainable growth within our artisan’s rural communities, by purchasing their precious fabrics, empowering their knowledge and preserving their heritage and creativity, both through our collections and direct impact programs.</p><br>
      <p>The artisans of the North East of India are for us a constant source of inspiration: we think they represent an invaluable lesson for the whole humanity to learn, discover and get closer to. We indeed firmly believe that slowing the pace and living sustainably, in harmony with nature, are the true ultimate luxuries.</p>
    </div>
  </div>

</section>
