<section class="p-y-l">

  <div class="ta-center">
    <h1 class="title starting-line">Italian passion — Indian tradition</h1>
  </div>

  <div class="grid ff-secondary connecting-line">
    <div class="col-6 col-m-8 col-s-10 col-xs-12">
      <p>SANGHAMITRA is an Indo-Italian sustainable fashion design & lifestyle brand, conceived around the essential concept of bringing together ancient Indian hand weaving and tailoring traditions with contemporary European Fashion aesthetics, maintaining a key focus on quality</p>
    </div>
  </div>

  <div class="ta-center">
    <h1 class="title starting-line line-top-margin">History</h1>
  </div>

  <div class="grid ff-secondary connecting-line">
    <div class="col-6 col-m-8 col-s-10 col-xs-12">
      <p>SANGHAMITRA means “Universal Friend”. It is the name of King Ashoka’s daughter, the nomad princess and Buddhist prophet who brought the Buddha’s harmonious message of peace to Sri Lanka. Having unified Hindustan for the first time in history through war and bloodshed, Ashoka is enlightened. Driven by the love for his wife, he converts to Buddhism, so to find a pathway towards peace. Sanghamitra is therefore the personification of the King’s journey of redemption through the values of peace, friendship and love.</p><br>
      <p>The SANGHAMITRA logo is a stylization of a pre-Christian Irish metalwork, representing a local European interpretation of the Buddhist meditational symbol ‘Yin and Yang’, incorporated in a Celtic ‘Triskelion’. By providing evidence of cultural contamination and Buddhist influence in Europe during those ancient times, this artifact becomes the perfect representation of our values, showing the two symbols melting one in the other, perfectly combined to give shape to a new unite image. </p>
    </div>
  </div>

  <div class="ta-center">
    <h1 class="title starting-line line-top-margin">Values</h1>
  </div>

  <div class="grid ff-secondary connecting-line">
    <div class="col-6 col-m-8 col-s-10 col-xs-12">
      <p>Unity, Creativity & Sustainability are the values that drive our work. At SANGHAMITRA we believe bringing cultures together, erasing distances and connecting people is the only viable path to achieve true progress. We stand for universal friendship, re-valorisation of traditions and social empowerment/ inclusion.</p><br>
      <p>Our creative MISSION is to Simplify and Re-value Sustainably:</p><br>
      <ul>
        <li>To SIMPLIFY complex and intricate traditional edits, so to create clean and elegant design pieces;</li><br>
        <li>To RE-VALUE ancient Indian tailoring traditions, by respecting our artisans’ labour and times, raising awareness about their work and cultural heritage;</li><br>
        <li>To Produce our collections through a SUSTAINABLE process, giving life to unique handmade garments using exclusively natural fabrics.</li><br>
      </ul>
      <p>The use of locally sourced natural fabrics is at the very core of our idea, vision and culture. We focus especially on MUGA, the rarest silk in the world, known as the Fabric of Kings as historically favourite by Indian royalties. Usually adopted only for formal traditional wear, we re-interpret this precious fabric by adapting it to smart “laid back couture” and evening wear garments.</p>
    </div>
  </div>

  <div class="ta-center">
    <h1 class="title starting-line line-top-margin">Vision</h1>
  </div>

  <div class="grid ff-secondary connecting-line ending-line">
    <div class="col-6 col-m-8 col-s-10 col-xs-12">
      <p>SANGHAMITRA’s VISION is that of a sustainable global fashion industry, leading the world to a more efficient/ circular use of resources. We strive to promote the necessary cultural shift from short termism to long-term value and quality maximisation, combined with positive contextual impact.</p><br>
      <p>We therefore decided to go back to our roots and made use of rare Muga, Paat and Eri Silks to create our hand made garments. We collaborate with local artisans using ancient weaving techniques, while colors are rigorously extracted from vegetable dyes. The production of our silks is entirely sustainable and cruelty free. </p><br>
      <p>At SANGHAMITRA we promote the values of diversity/ inclusion and women empowerment. We actively contribute to the growth of our artisan’s rural communities, by purchasing their precious fabrics, promoting their work, empowering and preserving their knowledge, heritage and creativity. </p><br>
      <p>The artisans of the North East of India are for us a constant source of inspiration: we think they represent an invaluable lesson for the entire world to learn, discover and get closer to. We indeed firmly believe that slowing the pace and living sustainably/ more in harmony with nature are the true ultimate luxuries.</p>
    </div>
  </div>

</section>
