<section class="p-y-l">

  <div class="ta-center">
    <h1 class="title starting-line">History</h1>
  </div>

  <div class="grid ff-secondary connecting-line">
    <div class="col-6 col-m-8 col-s-10 col-xs-12">
      <p>SANGHAMITRA is a Mumbai based Indo-Italian ethical luxury brand, conceived around
        the essential concept of bringing together the ancient Indian hand weaving and
        tailoring traditions with contemporary European Fashion edits, maintaining a key focus
        on quality.</p><br>
      <p>Designer Sanghamitra Phukan’s work is inspired by both her Indian heritage and
        European history, art and fashion culture. Reinterpreting traditions and processing
        current trends through her uniquely peculiar taste, Sanghamitra creates simple and
        clean layouts, based on essentially elegant shapes and enriched, at times, by touches
        of fine hand embroidery.</p>
    </div>
  </div>

  <div class="ta-center">
    <h1 class="title starting-line line-top-margin">Values</h1>
  </div>

  <div class="grid ff-secondary connecting-line">
    <div class="col-6 col-m-8 col-s-10 col-xs-12">
      <p>We aim to simplify and re-value sustainably:</p><br>
      <p>SIMPLIFY complex and intricate edits, to create clean and elegant design pieces.</p><br>
      <p>RE-VALUE ancient Indian tailoring traditions, by respecting our artisans’ labour and
        times, raising awareness about their work and cultural heritage.</p><br>
      <p>We produce all our collections through a SUSTAINABLE process, giving life to unique
        handmade garments using exclusively natural fabrics.</p><br>
      <p>Our goal is to maintain a key focus on quality & creativity, within the effort of preserving and
        reinterpreting Indian traditional fashion, constant source of inspiration for global fashion
        trends, where the younger western cultures dive in to re-discover their roots.</p>
    </div>
  </div>

  <div class="ta-center">
    <h1 class="title starting-line line-top-margin">Vision</h1>
  </div>

  <div class="grid ff-secondary connecting-line ending-line">
    <div class="col-6 col-m-8 col-s-10 col-xs-12">
      <p>We see an ethical and sustainable future, where true values will be given priority over
        social status, and businesses will strive to sustainably maximise quality rather then profits.
        SANGHAMITRA wants to actively participate to these transitions as a cultural link
        between India and the Western cultures, within the fields of luxury, fashion, creative
        design/ communication and beauty.</p><br>
      <p>Our Indo-Italian soul is represented by our logo, inspired by a Celtic interpretation of the
        Triskelion, the Buddhist meditational symbol. By providing evidence for the influence of
        Buddhism in ancient Europe, this metaphysical symbol represents an ancestral cultural
        link between India and Europe, becoming therefore a symbolic statement of our
        heritage.</p><br>
      <p>Unbiased attention is constantly dedicated to the quality of both fabrics and handwork
        through which our garments are created. Each piece of our collections is handcrafted
        by Indian artisans, using exclusively precious natural fabrics, some of which are directly
        sourced from rural villages of North Eastern India and hand weaved through an ancient
        process recalling a millenary tradition.</p><br>
      <p>We wish to preserve and keep alive this noble tradition through each one of our
        creations. We aim to keep increasing our demand of natural/ hand woven fabrics and
        institutionalize a Sanghamitra foundation, in order to directly support rural weavers
        communities and give back part of our profits to weavers’ families.</p>
    </div>
  </div>

</section>
