<section class="p-y-l">

  <div class="ta-center">
    <h1 class="title starting-line">Reviews</h1>
  </div>

  <div class="grid ff-secondary connecting-line ending-line">
    <div class="col-6 col-m-8 col-s-10 col-xs-12 ta-center">
      <ng-container *ngIf="(myReviews$ | async) as rec">
        <ng-container *ngIf="rec.length; else empty">
          <div *ngFor="let review of rec" class="m-b-s">
            <jfs-review-card [review]="review"></jfs-review-card>
          </div>
        </ng-container>
      </ng-container>
    </div>
    <ng-template #empty>
      <div class="col-12 ta-center">
        <p>You haven't made any reviews yet.<br>You can only create reviews on items you have <a class="link c-primary" routerLink="/my-profile/orders"><u>ordered</u>.</a></p>
      </div>
    </ng-template>
  </div>

</section>
