<section class="p-y-l">

  <div class="ta-center">
    <h1 class="title starting-line">Sanghamitra & One Horn Rhino Foundation</h1>
  </div>

  <div class="grid ff-secondary connecting-line ta-center">
    <div class="col-6 col-m-8 col-s-10 col-xs-12">
      <img class="m-b-s" src="assets/images/one-horn.jpg" aria-hidden="true">
    </div>
  </div>

  <div class="grid ff-secondary connecting-line">
    <div class="col-6 col-m-8 col-s-10 col-xs-12">
      <p class="m-b-s">SANGHAMITRA partnered with the Centre for Wildlife Rehabilitation and Conservation of Borjuri, in the <a href="https://www.wti.org.in/projects/centre-for-wildlife-rehabilitation-and-conservation-cwrc/" target="_blank"><u>Kaziranga National park</u></a>, with the aim of preserving local biodiversity and natural ecosystems.</p>
      <p class="m-b-s">In line with our values of Unity, Creativity & Sustainability, these unique collection pieces are produced through a slow artisanal process, rigorously using only natural organic textiles. A substantial share of all the foundation revenues (30%) goes directly to our cause of protecting our majestic real life Unicorns - the One Horn Rhinos of Assam. So this means by purchasing these garments, you too will officially be a Custodian of Unicorns.</p>
      <p>Each year we will launch a new limited edition t-shirts line featuring a young emerging artist, reiterating our legacy pledge to promote beauty, excellence and creativity.</p>

      <div class="ta-center p-y-m">
        <a mat-flat-button color="primary" routerLink="/shop">Shop now</a>
      </div>

      <h1 class="title">Series 1 - Anna Kolosova’s Leopard Stripes</h1>

      <p class="m-b-s m-t-m">Anna Kolosova (1991) is a Latvian-born, Russian, London-based contemporary artist. Her practice revolves around ‘expanded field’ painting. She makes abstract, mixed-media, performative in nature paintings with elements of text and found images or objects. She keeps her sketchbooks in her purse always to be able to sketch what she gets inspired by in situ, gathering momentum. Anna has synaesthesia, so she paints music, smells, numbers and text in colour as 'seen' in her mind.</p>
      <p class="m-b-s">Leopard Stripes, titled after one of Kolosova's synaesthetic poems, is one of her Resilience series made during Lockdown in London. During these difficult times, with mental health in mind, the artist chose to sketch to electronic music to release any worries. In Leopard Stripes she focused on the beauty of the sounds portraying beats and waves.</p>
    </div>
  </div>

  <div class="connecting-line ending-line"></div>
</section>
