<div class="cs-pointer jfs-product-card bg-primary relative h-full jfs-product-card" [routerLink]="['/product', product.id]">
  <div class="aspect-ratio" data-ratio="2:3">
    <img class="aspect-item" src="assets/images/empty.svg" [jfsLibraryImage]="product.gallery[0]" [alt]="product.name" size="m">
  </div>


  <div class="flex fw-nowrap jc-between p-a-xs jfs-product-card-description">
    <label class="p-r-s">{{product.name}}</label>
    <label>{{price | cr | async}}</label>
  </div>
  <p *ngIf="product.preOrder" class="ff-secondary p-b-xs ta-center"><b>Pre-orders available!</b></p>

  <div class="flex fd-row-rev">
    <ng-container *ngIf="wishList$ | async as ws">
      <button
        [id]="'btn-wish-list-' + uniqueId"
        mat-icon-button
        color="primary"
        class="jfs-product-card-wishlist-button"
        [matTooltip]="ws.label"
        [attr.aria-label]="ws.label"
        (jpStopPropagation)="toggleWish()">
        <mat-icon>{{ws.icon}}</mat-icon>
      </button>
    </ng-container>
  </div>
</div>
