<div class="cs-pointer" [routerLink]="['/product', product.id]">
  <div class="bg-primary relative">
    <div class="aspect-ratio" data-ratio="2:3">
      <img class="aspect-item" src="assets/images/empty.svg" [jfsLibraryImage]="product.gallery[0]" [alt]="product.name" size="m">
    </div>
    <div class="flex jc-between p-a-xs">
      <p>{{product.name}}</p>
      <p>{{product.price | cr | async}}</p>
    </div>
    <p *ngIf="product.preOrder" class="ff-secondary p-b-xs ta-center"><b>Pre-orders available!</b></p>
    <ng-container *ngIf="wishList$ | async as ws">
      <button
        [id]="'btn-wish-list-' + uniqueId"
        class="jfs-product-card-wishlist-button"
        mat-mini-fab
        color="primary"
        [matTooltip]="ws.label"
        [attr.aria-label]="ws.label"
        (jpStopPropagation)="wishList.toggle(product)">
        <mat-icon>{{ws.icon}}</mat-icon>
      </button>
    </ng-container>
  </div>
</div>
