<section class="p-y-l">

  <div class="ta-center">
    <h1 class="title starting-line">Sanghamitra Silk Road</h1>
  </div>

  <div class="grid ff-secondary connecting-line ta-center">
    <div class="col-6 col-m-8 col-s-10 col-xs-12">
      <img class="m-b-s" src="assets/images/silk-road.jpeg" aria-hidden="true">
    </div>
  </div>

  <div class="grid ff-secondary connecting-line ending-line ta-center">
    <div class="col-6 col-m-8 col-s-10 col-xs-12">
      <p>We are launching our latest collection - SANGHAMITRA Silk Road - in occasion of the third annual SANGHAMITRA Fashion Show & Gala, to be hosted on Sunday the 29th of November at Ramsa Hills. Click the button below to explore our previous collections:</p>
      <br>
      <a mat-flat-button color="primary" routerLink="/shop">Explore</a>
        <div class="p-b-m"></div>
    </div>
  </div>

  <div class="ta-center p-t-l">
    <h1 class="title starting-line">Event Program</h1>
  </div>

  <div class="grid connecting-line ending-line ta-center">
    <div class="col-6 col-m-8 col-s-10 col-xs-12">
      <p class="fs-large">13:00</p>
      <p class="ff-secondary m-b-s">Doors opening and guests Reception</p>
      <p class="fs-large">14:00</p>
      <p class="ff-secondary m-b-s">Fashion Show, The SANGHAMITRA Silk Road - Part 1</p>
      <p class="fs-large">14:30</p>
      <p class="ff-secondary m-b-s">Intermezzo: “Let it Rain” film presentation, the SANGHAMITRA One Horn Rhino foundation announcement, message from co-founder Joseph Rodio from Italy</p>
      <p class="fs-large">15:00</p>
      <p class="ff-secondary m-b-s">Fashion show, the SANGHAMITRA Silk Road - Part 2</p>
      <p class="fs-large">15:30</p>
      <p class="ff-secondary m-b-s">Closing Ceremony</p>
      <p class="fs-large">16:00/ 17:00</p>
      <p class="ff-secondary m-b-m">Tea & Canapes by the beach</p>
      <p class="ff-secondary m-b-xs">Follow and watch all the SANGHAMITRA Silk Road event content at our channel:</p>
      <p class="ff-secondary m-b-m"><a class="td-underline" href="https://www.youtube.com/channel/UC3evdQ_eQvd7ay-_zcgH6DA">Sanghamitra</a></p>
      <div class="m-b-m"></div>
    </div>
  </div>
</section>
