<section class="p-y-l">

  <div class="ta-center">
    <h1 class="title starting-line">Sanghamitra Silk Road</h1>
  </div>

  <div class="grid ff-secondary connecting-line ta-center">
    <div class="col-6 col-m-8 col-s-10 col-xs-12">
      <img class="m-b-s" src="assets/images/silk-road.jpeg" aria-hidden="true">
    </div>
  </div>

  <div class="grid ff-secondary connecting-line ending-line ta-center">
    <div class="col-6 col-m-8 col-s-10 col-xs-12">
      <p>We are launching our latest collection - SANGHAMITRA Silk Road - in occasion of the third annual SANGHAMITRA Fashion Show & Gala, to be hosted on Sunday the 29th of November at Ramsa Hills. Please RSVP via the button below to join our guest list and attend:</p>
      <br>
      <button mat-flat-button color="primary">GUEST LIST RSVP</button>
      <div class="p-b-m"></div>
    </div>
  </div>

  <div class="ta-center p-t-l">
    <h1 class="title starting-line">Event Program</h1>
  </div>

  <div class="grid connecting-line ending-line ta-center">
    <div class="col-6 col-m-8 col-s-10 col-xs-12">
      <p class="fs-large">13:00</p>
      <p class="ff-secondary m-b-s">Doors opening and guests Reception</p>
      <p class="fs-large">14:00</p>
      <p class="ff-secondary m-b-s">Fashion Show, The SANGHAMITRA Silk Road - Part 1</p>
      <p class="fs-large">14:30</p>
      <p class="ff-secondary m-b-s">Intermezzo: “Let it Rain” film presentation, the SANGHAMITRA One Horn Rhino foundation announcement, message from co-founder Joseph Rodio from Italy</p>
      <p class="fs-large">15:00</p>
      <p class="ff-secondary m-b-s">Fashion show, the SANGHAMITRA Silk Road - Part 2</p>
      <p class="fs-large">15:30</p>
      <p class="ff-secondary m-b-s">Closing Ceremony</p>
      <p class="fs-large">16:00/ 17:00</p>
      <p class="ff-secondary m-b-m">Tea, wine & Canapes by the beach</p>
      <p class="ff-secondary m-b-xs">Info & live stream at our facebook page:</p>
      <p class="ff-secondary m-b-m"><a class="td-underline" href="https://fb.me/e/8phfm9JKk">https://fb.me/e/8phfm9JKk</a></p>
      <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Finfosanghamitra&tabs=events&width=320&height=420&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="320" height="420" style="border:none;overflow:hidden;max-width:100%;" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
      <div class="m-b-m"></div>
    </div>
  </div>
</section>
