<section class="p-y-l">

  <div class="ta-center">
    <h1 class="title starting-line">Sanghamitra Silk Road - New Face Hunt</h1>
  </div>

  <div class="grid ff-secondary connecting-line ta-center">
    <div class="col-6 col-m-8 col-s-10 col-xs-12">
      <img class="m-b-s" src="assets/images/silk-road.jpeg" aria-hidden="true">
    </div>
  </div>

  <div class="grid ff-secondary connecting-line ta-center">
    <div class="col-6 col-m-8 col-s-10 col-xs-12">
      <p>We are scouting for fresh new faces to participate to our upcoming collection launch event and gala. If selected, you will be walking the ramp wearing unique hand crafted pieces from the new SANGHAMITRA Silk Road collection.</p>
      <br>
      <p>The event will be hosted on the 28th November 2020. Please fill in the application below to participate and we will be in touch - Please note the contest is open to all Northeastern aspiring models (min height 5.7ft). Best of luck and look forward to meeting you.</p>
    </div>
  </div>

  <div class="ta-center">
    <h1 class="title line-top-margin starting-line">Apply now</h1>
  </div>

  <div class="grid connecting-line ending-line ta-center">
    <form class="col-4 col-m-5 col-s-6 col-xs-10" [formGroup]="form">
      <mat-form-field class="w-full">
        <input formControlName="name" matInput placeholder="Name">
      </mat-form-field>
      <mat-form-field class="w-full">
        <input formControlName="phone" matInput placeholder="Phone number">
      </mat-form-field>
      <mat-form-field class="w-full">
        <input formControlName="email" type="email" matInput placeholder="Email">
      </mat-form-field>
      <mat-form-field class="w-full">
        <input formControlName="height" matInput placeholder="Height">
      </mat-form-field>
      <mat-form-field class="w-full">
        <input formControlName="shoesSize" matInput placeholder="Shoes size">
      </mat-form-field>
      <mat-form-field class="w-full">
        <input formControlName="dressSize" matInput placeholder="Dress size">
      </mat-form-field>
      <mat-form-field class="w-full">
        <textarea formControlName="experience" matInput placeholder="Previous experience"></textarea>
      </mat-form-field>
      <button type="submit" mat-flat-button [disabled]="form.invalid" [jpLoadClick]="save()">Send</button>
    </form>
  </div>
</section>
